<div class="container">
  <div class="card mb-2">
    <img src="{{producto.pro_foto}}" class="card-img-top" alt="" height="400">
    <div class="card-body">
      <h5 class="card-title">{{producto.pro_codigo_barra}}</h5>
      <p class="card-text">{{producto.pro_descripcion}}</p>
      <p class="card-text">Marca{{producto.pro_marca}}</p>
      <p class="card-text"><small>Cantidad Unidades{{producto.pro_stock}}</small></p>
      <p class="card-text"><small>Precio {{producto.pro_precio}}</small></p>
      <div class="card-footer">
        <<button class="btn btn-outline-primary btn-block ">Añadir al Carrito</button>
        <button class="btn btn-outline-primary btn-block" (click)=volver()>Volver</button>
      </div>
    </div>
  </div>
</div>
