<div>
  <nav class = "navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
  <a  class="navbar-brand" href="#">MyStore</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
    <button class="btn btn-outline-succes my-2 my-sm-0" type="submit">Carrito</button>
  </form>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#"><img src="https://getconnected.honeywellhome.com/en/sites/getconnected.honeywell.com.en/files/lyric_to_home.png" alt="home" width="25" height="25"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
  </nav>
</div>
