
<div>
  <nav class = "navbar  navbar-dark bg-primary">
  <a  class="navbar-brand" href="#">MyStore</a>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink = "/home" ><img src="https://www.flaticon.com/svg/static/icons/svg/1946/1946436.svg" alt="home" width="25" height="25"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"routerLink = "/chat"><img src="https://www.flaticon.com/svg/static/icons/svg/1381/1381635.svg" alt="comentarios" width="25" height="25"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink = "/lista"><img src="https://www.flaticon.com/svg/static/icons/svg/1077/1077086.svg" alt="favoritos" width="25" height="25"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><img src="https://www.flaticon.com/svg/static/icons/svg/2097/2097710.svg" alt="notificaciones" width="25" height="25"></a>
  </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Producto" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Buscar</button>
    <button class="btn btn-outline-primary" (click)= "carrito()"><img src="https://www.flaticon.com/svg/static/icons/svg/711/711192.svg" alt="carro" width="25" height="25">
    </button><br>
    <li class="nav-item dropdown">
      <button class="nav-link dropdown-toggle" href="carrito" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-toggler-icon"></span></button>
        <div class="drop">
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink = "login">Iniciar Sesion</a>
            <a class="dropdown-item" routerLink = "registro">Registrarse</a>
            <a class="dropdown-item" routerLink = "administrar">Administrar</a>
          </div>
        </div>
    </li>
  </form>
  </nav>
</div>
